<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Username:</dt>
  <dd><%= @user.username %></dd>

  <dt>Group:</dt>
  <dd><%= @user.group_id %></dd>

  <dt>Count:</dt>
  <dd><%= @user.count %></dd>

</dl>
