<%= form_for(@event, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :group_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :group_id, Group.all.collect { |g| [ g.name, g.id ] },
       include_blank: true, class:"form-control", :selected => params[:cat_id]%>
       </div>
  </div>

  <div class="form-group">
    <%= f.label :subject_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :subject_id, Subject.all.collect { |s| [ s.name, s.id ] },
       include_blank: true, class:"form-control", :selected => params[:cat_id]%>
       </div>
  </div>

  <div class="form-group">
    <%= f.label :location_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :location_id, Location.all.collect { |l| [ l.name, l.id ] },
       include_blank: true, class:"form-control", :selected => params[:cat_id]%>
       </div>
  </div>
  
  
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
