<!-- only if you need custom infoboxes -->
<div class="page-header">
  <%= link_to new_event_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Event
  <% end %>
  <h1>Listing events</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Group</th>
            <th>Subject</th>
            <th colspan="3"></th>
            
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @events) do |event| %>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.location.name %></td>
        <td><%= event.group.name %></td>
        <td><%= event.subject.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>