<div class="page-header">
  <%= link_to events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_event_path(@event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show event</h1>
</div>

<dl class="dl-horizontal">

  <dt>Name:</dt>
  <dd><%= @event.name %></dd>


  <dt>Date:</dt>
  <dd><%= @event.date %></dd>
  <dt>Location:</dt>
  <dd><%= @event.location.name%></dd>
    <dt>Subject:</dt>
  <dd><%= @event.subject.name %></dd>
    <dt>Group:</dt>
  <dd><%= @event.group.name %></dd>

  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
</dl>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
</script>