<%= form_for(@subject, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @subject.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h4>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :start, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :finish, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :finish, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
