<div class="page-header">
  <%= link_to subjects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_subject_path(@subject), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show subject</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @subject.name %></dd>

  <dt>Start:</dt>
  <dd><%= @subject.start %></dd>

  <dt>Finish:</dt>
  <dd><%= @subject.finish %></dd>

</dl>
