<div class="page-header">
  <%= link_to new_attendance_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Attendance
  <% end %>
  <h1>Listing attendances</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>User start</th>
            <th>User finish</th>
            <th>Event</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @attendances) do |attendance| %>
            <td><%= attendance.user_id %></td>
            <td><%= attendance.user_start %></td>
            <td><%= attendance.user_finish %></td>
            <td><%= attendance.event_id %></td>
            <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
