<div class="page-header">
  <%= link_to attendances_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_attendance_path(@attendance), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show attendance</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @attendance.user_id %></dd>

  <dt>User start:</dt>
  <dd><%= @attendance.user_start %></dd>

  <dt>User finish:</dt>
  <dd><%= @attendance.user_finish %></dd>

  <dt>Event:</dt>
  <dd><%= @attendance.event_id %></dd>

</dl>
