<div class="page-header">
  <%= link_to new_location_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Location
  <% end %>
  <h1>Listing locations</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Radius</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @locations) do |location| %>
            <td><%= location.name %></td>
            <td><%= location.latitude %></td>
            <td><%= location.longitude %></td>
            <td><%= location.radius %></td>
            <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
