<div class="page-header">
  <%= link_to locations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_location_path(@location), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show location</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @location.name %></dd>

  <dt>Latitude:</dt>
  <dd><%= @location.latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @location.longitude %></dd>
  <dt>Radius:</dt>
  <dd><%= @location.radius %></dd>
  <dt>Address:</dt>
  <dd><%= @location.address %></dd>

</dl>
